.App {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  
  .heading{
    font-size:40px;
    font-weight:600;
    font-family:cursive;
    color:rgb(255, 115, 0);
  }
  
  .buttons{
    display:flex;
    
  }
  
  button{
    margin:20px;
    width:60%;
    height:60%;
    border-radius: 15px;
    box-shadow: 0 4px rgb(20, 19, 19);
    border:1px solid black;
    font-weight:700;
    font-size:20px;
    font-family:cursive;
  }
  
  body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  }